[Desktop Entry]
Name=pisi-crocus-ancyrensis

X-KDE-PluginInfo-Name=pisi-crocus-ancyrensis
X-KDE-PluginInfo-Author=prdsmehmetstc
X-KDE-PluginInfo-Email=prdsmehmetstc@pisilinux.org
X-KDE-PluginInfo-License=CC BY-NC-ND
